<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    
	<!--general-->
	<setting type="sep" />
	<setting id="quality" type="enum" lvalues="30015|30016|30017|30018" label="30004" default="0"/>
	<setting id='resolution_hack' type ="bool" label="30019" default="0"/>
	<setting type="sep" />

	<!--login
	<setting type="sep" />
	<setting id="login_name" type="text" label="30001" default=""/>
	<setting id="login_pass" type="text" label="30002" enable="!eq(-1,)" default=""/>
	<setting type="sep" />-->
	
	<!--tv-->
	<setting type="sep" />
	<setting id="flat_tv_cats" type="bool" label="30003" default="false"/>
	<setting id="only_full_episodes" type="bool" label="30005" default="true"/>
	<setting id="get_show_plot" type="bool" label="30006" default="true"/>
	<setting id="get_episode_plot" type="bool" label="30007" default="true"/>
	<setting id="flat_season" type="enum" lvalues="30008|30009|30010" label="30011" default="0"/>
	<setting type="sep" />

	<!--movies-->
	<setting type="sep" />
	<setting id="flat_movie_cats" type="bool" label="30012" default="false"/>
	<setting id="only_full_movies" type="bool" label="30013" default="true"/>
	<setting id="get_movie_plot" type="bool" label="30014" default="true"/>
	<setting type="sep" />
	
</settings>